<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/thankyou.css">
    <title>Thank You !!!</title>
</head>
<body>
    <a href="/">
        <div class="container">
            <div class="title">
                <h1>Thank You !</h1>
                <p>Your payment is successful</p>
                <!-- <img src="/images/teenyicons_tick-circle-solid.svg" alt="tick-icon"> -->
                <img src="/images/Allura Heart.svg" alt="heart-img">
                <p class="quote">" Your gratitude can save our Earth "</p>
            </div>
        </div>
    </a>
</body>
</html>