* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  /* background-color: #f5f9fc; */
  background-color: #222831;
  /* background-color: #EEEBDD; */
  /* background-color: #222831; */
}
.header {
  width: 100%;
  display: flex;
  min-height: 4.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #393e46;
  color: #eeeeee;
  position: sticky;
  top: 0px;
  z-index: 2;
}
.admin {
  color: #00adb5;
  margin-right: 10%;
  text-align: center;
  line-height: initial;
  font-weight: 500;
  font-size: clamp(1.2rem, 2.2vw, 1.6rem);
}

.heading {
  padding-left: 1%;
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}
#btn {
  display: flex;
  justify-content: end;
  align-items: center;
}
.button-logout {
  display: flex;
  align-items: center;
  padding-right: 2%;
  margin-right: 5%;
}

/* TODO ...........SIDE NAV BAR MENU................................ */

#navBarDivision {
  position: absolute;
  display: none;
  width: 17%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 89.9%;
  z-index: 5;
  color: #EEEEEE;
  background-color: #4ca1af;
  animation-name: side_bar;
  animation-duration: 0.7s;
}
.category {
  font-size: 140%;
  font-weight: 500;
  min-height: 8vh;
  display: flex;
  align-items: center;
  padding: 2px 10px;
  transition: background 0.25s ease;
  animation-name: show;
  animation-duration: 1s;
}
/*!.....................Animation for Nav Side Bar.................. */

@keyframes show {
  0%{font-size: 1%;}
  50%{font-size: 140%;}
}
@keyframes side_bar {
  0%{width: 0%;}
  50%{width: 17%;}
}

#AdministrationDiv {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  background-color: #075154;
}

#ReportGenerationDiv, #DataEntryDiv,
#AdminLogDiv ,#DashboardDiv,
#UpdateSectionDiv,#UserProfileDiv{
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
/* ! End of Nav Side Bar Menu */

.user_update_container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  margin: 1%;
}

#addUser,
#removeUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#addUser-img,
#removeUser-img {
  cursor: pointer;
  width: 6rem;
}
#employeeTableDivision {
  display: block;
  position: absolute;
  width: 80%;
  height: 65%;
  border-radius: 0.5em;
  overflow-y: auto;
  left: 10%;
}
.table_content {
  /* width: 100%;
  background: -webkit-linear-gradient(to right, #4ca1af, #485d71);
  background: linear-gradient(to right, #4ca1af, #485d71); */
  background: #105469;
  border-radius: 0.5em;
  border-collapse: collapse;
  width: 100%;
  position: relative;
}
.table-heading-container {
  position: sticky;
  top: -1px;
  z-index: 2;
  color: #e2b842;
  background-color: #221d51;
}
.table_row {
  color: #fff;
  font-weight: 400;
  transition: background 0.25s ease;
}
.table_row:hover {
  background-color: #012b39;
}
th,
tr,
td {
  padding: 0.65em 1em;
}

.charts_list,
.user_mode {
  text-align: center;
}
.switch_btn,
.edit_btn {
  position: relative;
  text-align: center;
  /* padding-top: 0.66%;
  padding-left: 0.75%; */
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#removeUserDivision {
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

.removeUserModalContent {
  background-color: #84A9AC;
  margin: auto;
  padding: 2%;
  border: 1px solid #888;
  width: 35%;
  min-height: 25%;
  border-radius: 10px;
}

#reportGenerationDeniedDivision {
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.reportGenerationDeniedDivisionModalContent {
  background-color: #84A9AC;
  color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  height: 25%;
}

#removeUserButton {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
/* !.................Remove User........................ */

#removeUserDivisionHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#removeUserInput {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-evenly;
  width: 85%;
}
#selectUserID {
  padding: 1%;
  border: 1px solid black;
  border-radius: 5px;
  width: 125px;
  background-color: #eeeeee;
}
#removeUserDivisionEnsure {
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.removeUserEnsureModalContent {
  background-color: #84A9AC;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  min-height: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
#removeUserDivisionEnsureHolder {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
#removeUserEnsureButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
#removeUserDivisionSuccess {
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.removeUserDivisionSuccessModalContent {
  background-color: #00ab41;
  margin: auto;
  padding: 0px;
  width: 35%;
  height: 33%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#editEmployeeStatusEnsureDivision {
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
/* ! Update Emp Status btn pop up */
.editEmployeeStatusEnsureModalContent {
  background-color: #84A9AC;
  margin: auto;
  padding: 2%;
  text-align: center;
  border: 1px solid #888;
  width: 35%;
  min-height: 20%;
  border-radius: 10px;
}
#editEmployeeStatusEnsureHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 2rem;
}
#editEmployeeStatusEnsureButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin-left: 2%;
}

#editEmployeeStatusDivisionSuccess {
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.editEmployeeStatusDivisionSuccessModalContent {
  background-color: #00ab41;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 0px;
  align-items: center;
  /* border: 1px solid #888; */
  width: 35%;
  min-height: 23%;
  border-radius: 10px;
}
#editEmployeeStatusDivisionSuccessHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  justify-content: center;
}
#editEmployeeChartAccessDivision {
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
/* ! ................Update Report Access Edit Button....................... */

#editEmployeeChartAccessDivisionHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.editEmployeeChartAccessDivisionModalContent {
  background-color: #84A9AC;
  margin: auto;
  padding: 2%;
  border: 1px solid #888;
  width: 60%;
  border-radius: 10px;
}
#editEmployeeChartAccessCheckBoxHolder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 3%;
  padding: 1%;
  margin: 1%;
}
.editEmployeeChartAccessCheckBox {
  display: flex;
  align-items: center;
  padding: 1%;
  gap: 2%;
  margin: 1%;
}
#editEmployeeChartAccessDivisionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin-left: 2%;
}
/* !...........................Edit Reports Confirmation Button .................................. */
#editEmployeeChartAccessSuccess {
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
#selectAllDivision {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  padding: 1%;
  gap: 2%;
  margin: 1%;
}
.editEmployeeChartAccessSuccessModalContent {
  background-color: #00ab41;
  margin: auto;
  padding: 2%;
  width: 35%;
  border-radius: 10px;
}

#editEmployeeChartAccessSuccessHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
#editEmployeeChartAccessDivisionSuccessButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin-left: 2%;
}
.reportGenerationDeniedDivisionModalContent {
  background-color: #fefefe;
  color: black;
  margin: auto;
  padding: 5px;
  text-align: center;
  border: 1px solid #888;
  border-radius: 10px;
  width: 40%;
  height: 22%;
}

#reportGenerationDeniedDivisionHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 25%;
  gap: 1.5rem;
  justify-content: center;
}
@media screen and (max-width:1280px) {
  #navBarDivision {
    position: absolute;
    display: none;
    width: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    z-index: 5;
    color: #EEEEEE;
    background-color: #4ca1af;
    animation-name: side_bar;
    animation-duration: 0.7s;
  }
  @keyframes side_bar {
    0%{width: 0%;}
    50%{width: 25%;}
  }
}
@media screen and (max-width: 1024px) {
  #navBarDivision {
    position: fixed;
    display: none;
    width: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: #4ca1af;
  }
  .category {
    font-size: 130%;
    font-weight: 500;
    min-height: 7vh;
    color: #eeeeee;
    display: flex;
    align-items: center;
    padding: 2px 10px;
  }
  @keyframes show {
    0%{font-size: 1%;}
    50%{font-size: 130%;}
  }
  @keyframes side_bar {
    0%{width: 0%;}
    50%{width: 30%;}
  }
  #employeeTableDivision {
    display: block;
    position: absolute;
    align-items: center;
    width: 90%;
    height: 70%;
    overflow-y: auto;
    padding-bottom: 1%;
    left: 5%;
  }
}
@media screen and (max-width: 780px) {
  .header {
    min-width: 100%;
    display: flex;
    min-height: 4.5rem;
    flex-direction: row;
    align-items: center;
    padding: 1%;
    justify-content: space-between;
    background-color: #393e46;
    color: #f0e3e3;
    position: relative;
  }

  .heading {
    padding-left: 1%;
    font-weight: 700;
    font-size: clamp(19px, 0.8vw, 1.5rem);
  }

  .admin {
    color: #00adb5;
    margin-right: 5%;
    text-align: center;
    font-weight: 500;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
  }

  #navBarDivision {
    position: fixed;
    display: none;
    width: 35%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: #4ca1af;
  }
  .category {
    font-size: 120%;
    font-weight: 500;
    min-height: 7vh;
    display: flex;
    align-items: center;
    padding: 2px 10px;
  }
  /* !........................Animation Style for Side Menu Bar.................... */

  @keyframes show {
    0%{font-size: 1%;}
    50%{font-size: 120%;}
  }
  @keyframes side_bar {
    0%{width: 0%;}
    50%{width: 35%;}
  }
  .editEmployeeStatusEnsureModalContent {
    width: 40%;
    display: flex;
    min-height: 20%;
  }

  #editEmployeeStatusEnsureButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-left: 2%;
  }
  #addUser-img,
  #removeUser-img {
    cursor: pointer;
    width: 4rem;
  }
  .reportGenerationDeniedDivisionModalContent {
    background-color: #fefefe;
    color: black;
    margin: auto;
    text-align: center;
    padding: 5px;
    border: 1px solid #888;
    width: 60%;
    height: 18%;
  }

  #reportGenerationDeniedDivisionHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20%;
    gap: 1.25rem;
    justify-content: center;
  }
  .removeUserEnsureModalContent {
    margin: auto;
    padding: 20px;
    width: 35%;
    min-height: 26%;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
  }
  /* !Remove user popup */
  .removeUserModalContent {
    background-color: #84A9AC;
    margin: auto;
    padding: 2%;
    border: 1px solid #888;
    width: 50%;
    min-height: 25%;
    border-radius: 10px;
  }
  #removeUserInput {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    justify-content: space-evenly;
    width: 80%;
  }
  #removeUserButton {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }
}

@media screen and (max-width: 481px) {
  .admin {
    color: #00adb5;
    margin-right: 0%;
    font-weight: 500;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    text-align: center;
  }
  #btn {
    width: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    position: relative;
    right: 2%;
    line-height: 28px;
  }
  .button-logout {
    background: linear-gradient(to right, #0f0c29, #302b63, #0f0c29);
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
  }
  #navBarDivision {
    display: none;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4ca1af;
  }
  .category {
    font-size: 120%;
    font-weight: 500;
    min-height: 7vh;
    display: flex;
    align-items: center;
    padding: 2px 10px;
  }
  /* !........................Animation Style for Side Menu Bar.................... */

  @keyframes show {
    0%{font-size: 1%;}
    50%{font-size: 120%;}
  }
  @keyframes side_bar {
    0%{width: 0%;}
    50%{width: 50%;}
  }
  #addUser-img,
  #removeUser-img {
    cursor: pointer;
    width: 3rem;
  }
  .editEmployeeStatusEnsureModalContent {
    padding: 2%;
    border: 1px solid #888;
    width: 45%;
    min-height: 25%;
  }
  #editEmployeeStatusEnsureButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-left: 2%;
  }
  /* ! ..........................Update Report Access Edit Button............................... */

  .editEmployeeChartAccessDivisionModalContent {
    margin: auto;
    padding: 1%;
    border: 1px solid #888;
    width: 80%;
  }

  #editEmployeeChartAccessCheckBoxHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 2%;
    padding: 2%;
    margin: 3%;
  }

  #editEmployeeChartAccessDivisionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-top: 10%;
  }
  .editEmployeeChartAccessSuccessModalContent {
    margin: auto;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #888;
    width: 50%;
    height: 20%;
  }
  #editEmployeeChartAccessSuccessHolder {
    gap: 3vw;
    text-align: center;
  }
  .removeUserModalContent {
    margin: auto;
    padding: 1%;
    border: 1px solid #888;
    width: 60%;
    min-height: 25%;
    border-radius: 10px;
  }
  #removeUserButton {
    display: flex;
    justify-content: space-evenly;
    gap: 3px;
  }
  .removeUserEnsureModalContent {
    margin: auto;
    display: flex;
    padding: 20px;
    width: 60%;
    align-items: center;
    min-height: 33%;
    border-radius: 10px;
    justify-content: center;
  }
  .removeUserDivisionSuccessModalContent {
    background-color: #00ab41;
    margin: auto;
    padding: 0px;
    width: 60%;
    min-height: 33%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reportGenerationDeniedDivisionModalContent {
    background-color: #fefefe;
    color: black;
    margin: auto;
    text-align: center;
    padding: 5px;
    border: 1px solid #888;
    width: 60%;
    height: 26%;
  }

  #reportGenerationDeniedDivisionHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20%;
    gap: 1.25rem;
    justify-content: center;
  }
  /* ! Remove user popup */
  .removeUserModalContent {
    margin: auto;
    padding: 1%;
    border: 1px solid #888;
    width: 65%;
    min-height: 25%;
    border-radius: 10px;
  }
  #removeUserInput {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-evenly;
  width: 85%;
  }
  /* ! Emp status update popup */
  .editEmployeeStatusDivisionSuccessModalContent {
    background-color: #00ab41;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;
    /* border: 1px solid #888; */
    width: 45%;
    min-height: 25%;
    border-radius: 10px;
}
}
