* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.main {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #282c34;
}

#errorMsg {
  color: #000000;
  background-color: #f87b7b;
  text-align: center;
  font-weight: 500;
  border-radius: 3px;
}
/* ! */

#otpHandlerDivision {
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.otpHandlerModalContent {
  background-color: #84A9AC;
  margin: auto;
  padding: 0px;
  width: 35%;
  height: 35%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#otpHandlerContentHolder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
#otpInput {
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
}
#errorOtp{
  color: #000000;
  background-color: #f87b7b;
  text-align: center;
  font-weight: 500;
}
.confirm_btn_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* ! */

#otpHandlerFinalPopup {
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.otpHandlerFinalModalContent {
  text-align: center;
  background-color: #00ab41;
  margin: auto;
  padding: 0px;
  width: 35%;
  height: 35%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#otpHandlerFinalContentHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media screen and (max-width:1024px) {
  .otpHandlerFinalModalContent {
    width: 40%;
    height: 36%;
  }
}

@media screen and (max-width:780px) {
  .otpHandlerModalContent {
    width: 50%;
    height: 38%;
  }
  .otpHandlerFinalModalContent {
    width: 40%;
    height: 25%;
  }
}
@media screen and (max-width:500px) {
  .otpHandlerModalContent {
    width: 70%;
    height: 40%;
  }
  .otpHandlerFinalModalContent {
    width: 60%;
    height: 30%;
  }
}